@model FizzBuzzMVC.Models.FizzBuzz
<!--Main Section-->
<main class="flex-shrink-0">
    <div class="container mt-5 mb-5">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col border-end">
                <div>
                    <h1 class="mt-2 txt-color">FizzBuzz: A MVC Coding Project</h1>
                    <p class="lead bold">Pre-fixed from 1 to 100.</p>
                    <h4 class="lead">
                        Write a program that displays <strong>Fizz</strong> for numbers multiple of Fizz Value
                        and display <strong>Buzz</strong> for numbers multiple of Buzz Value. If the number is
                        multiple of both display <strong>FizzBuzz</strong>.
                    </h4>
                    <h2 class="mt-4 border-1 border-bottom txt-color">Instruction</h2>
                    <p>Enter a <strong>Fizz Value</strong> and a <strong>Buzz Value</strong>. Press the Button!</p>
                </div>
            </div>
            <div class="col">
                <h5 class="mt-2 txt-color">Enter valid values</h5>
                <form class="row gy-2 gx-3" asp-controller="Home" asp-action="FizzBuzz" method="post">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="FizzValue">Fizz Value</label>
                            <input id="startValue" asp-for="FizzValue" placeholder="Enter Fizz" value="@Model.FizzValue" type="number" aria-label="start value" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="BuzzValue">Buzz Value</label>
                            <input id="endValue" asp-for="BuzzValue" placeholder="end value" value="@Model.BuzzValue" type="number" aria-label="end value" class="form-control">
                        </div>
                    </div>
                    <div class="col-12">
                        <button id="btnSubmit" type="submit" class="btn btn-danger border text-light">FizzBuzz it!</button>
                    </div>
                </form>
                <h2 class="mt-5 border-bottom">Results</h2>
                <div class="table-responsive">
                    @if (Model.Result.Count() > 0)
                    {
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr class="table-dark">
                                    <th colspan="5">Fizz Buzz Results</th>
                                </tr>
                                @for (int i = 0; i < Model.Result.Count(); i += 5)
                                {
                                    <tr>
                                        <td>@Model.Result[i]</td>
                                        <td>@Model.Result[i + 1]</td>
                                        <td>@Model.Result[i + 2]</td>
                                        <td>@Model.Result[i + 3]</td>
                                        <td>@Model.Result[i + 4]</td>
                                    </tr>
                                }
                            </thead>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
